# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
tai_env/

# Audio files and temp folder
*.mp3
*.wav
temp_audio/

# Environment variables
.env

# IDE configs
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
